/* NAVBAR */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-ss {
    width: auto;
    height: auto;
}

.links {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 100px;
}

#mobile-menu {
    position: absolute;
    top: 32px; 
    right: 0;
    background-color: #274E3F;
    color: white;
    width: 200px;
    z-index: 10;
    border-radius: 10px;
}

#mobile-menu ul {
    list-style: none;
    padding: 0;
}

#mobile-menu li {
    padding: 10px;
    text-align: center;
}

#mobile-menu a {
    color: white;
    text-decoration: none;
}

.hidden {
    display: none;
}

/* BANNER DO TOPO */

#presentation {
    display: flex;
    flex-direction: column;
}

#banner {
    width: 100%;
    position: relative;
    
}

#banner-home {
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
}

#title-banner-home {
    position: absolute;  /* para ficar por cima do banner */
    top: 55%;  /* para alinhar na onde da imagem eu quero que o texto fique */
    color: #fff;
    font-size: 17px;
    margin-left: 3%;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

#text-banner-home {
    position: absolute;
    top: 72%;
    color: #fff;
    font-size: 18px;
    margin-left: 3%;
    line-height: 1; /* define o espaçamento entre as linhas de um texto */
}

#second-title-home {
    position: absolute;
    top: 86%;
    background-color: #294B3A;
    display: flex;
    width: 55%;
    padding: 4%;
    right: 0; /* alinha o elemento ao final da página ou contêiner */
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* SOBRE NÓS */

#img-sobre-nos {
    margin-top: 75px;
    width: 70%;
    filter: brightness(70%);
}

#text-about-us-home {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 15px;
    text-align: justify;
}

#span-text-about-us {
    width: 90%;
}

/* CITAÇÃO */

#citation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    align-self: center;
    width: 65%;
    margin-top: 35px;
    margin-bottom: 35px;
}

#icon-double-quotes {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#double-quotes {
    margin-bottom: 15px;
}

#author-text {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
}

/* PROJETOS */

.img-home-main {
    display: flex;
    flex-direction: column;
}

#img-projects {
    width: 70%;
    filter: brightness(70%);
    align-self: self-end;
}

#text-projects-home {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: justify;
}

.carousel {
    margin-bottom: 15px;
    margin-top: 15px;
}

.carousel-inner {
    display: flex;
}

.card-carousel {
    padding: 20px;
    background-color: #274E3F;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-right: 15px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #274E3F;
}

#values {
    display: flex;
    justify-content: center;
}

/* Container da timeline */
.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    background-image: url(/images/values.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.timeline-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.timeline {
    position: relative;
    max-width: 800px;
    width: 100%;
}

.timeline-item {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
    width: 100%;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #294B3A; /* Linha central */
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.timeline-item .timeline-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 3px solid #294B3A; /* Cor dos pontos */
    border-radius: 50%;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-item .timeline-content {
    background-color: #294B3A;
    color: white;
    padding: 20px;
    width: 50%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Ajuste para o lado esquerdo */
.timeline-item.left .timeline-content {
    margin-right: auto;
    text-align: right;
}

/* Ajuste para o lado direito */
.timeline-item.right .timeline-content {
    margin-left: auto;
    text-align: left;
}

footer {
    background-color: #274E3F;
    padding: 20px;
    
}

.footer {
    display: inline-flex;
}


@media (max-width: 912px) {
    #img-projects,
    #text-projects-home, 
    .carousel,
    .timeline-container {
        display: none; 
    }
}


@media (min-width: 769px) {

    /* NAVBAR */
    .header {
        max-width: 100vw;
        height: auto;
    }

    .logo-ss {
        width: 13%;
    }

    .menu-hamburger {
        display: none;
    }

    /* BANNER */
    #title-banner-home {
        font-size: 35px;
        top: 71%;
    }

    #text-banner-home {
        font-size: 25px;
        top: 83%;
    }

    #second-title-home {
        font-size: 25px;
        width: 40%;
        top: 90%;
    }

    /* INFORMAÇÕES (SOBRE NÓS E PROJETOS) */
    #img-sobre-nos {
        margin-top: 130px;
        width: 60%;
    }

    #img-projects {
        width: 60%;
    }

    #text-about-us-home, #text-projects-home {
        font-size: 25px;
        margin-top: 25px;
    }

    #span-text-about-us, #span-text-projects {
        width: 90%;
        font-size: 22px;
    }

    /* CITAÇÃO */

    hr {
        width: 80%;
    }

    #double-quotes {
        width: 1.7%;
    }

    #author-text {
        font-size: 24px;
    }

    #name-author {
        font-size: 20px;
    }
    
    /* VALORES */
    .timeline-container {
        background-image: url(/images/values-media.jpg);
        background-size: cover;
    }

    .timeline-item {
        display: flex;
        justify-content: center;
    }

    .timeline-content {
        font-size: 20px;
    }

    .timeline-title {
        font-size: 35px;
        color: #fff;
    }

    .timeline-item::before {
        left: 50%;
    }

    /* FOOTER */
    .footer {
        display: flex;
        justify-content: space-between;
        margin: 10px 60px 0;
    }

    .link-footer {
        cursor: pointer;
    }
}