/* BANNER DO TOPO */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#presentation {
    display: flex;
    flex-direction: column;
}

#banner {
    width: 100%;
    position: relative;
    
}

#banner-home {
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
}

#title-banner-home {
    position: absolute;  /* para ficar por cima do banner */
    top: 55%;  /* para alinhar na onde da imagem eu quero que o texto fique */
    color: #fff;
    font-size: 17px;
    margin-left: 3%;
}

#text-banner-home {
    position: absolute;
    top: 72%;
    color: #fff;
    font-size: 18px;
    margin-left: 3%;
    line-height: 1; /* define o espaçamento entre as linhas de um texto */
}

#second-title-home {
    position: absolute;
    top: 86%;
    background-color: #294B3A;
    display: flex;
    width: 60%;
    padding: 4%;
    right: 0; /* alinha o elemento ao final da página ou contêiner */
    color: #fff;
    font-size: 15px;
}

/* SOBRE NÓS */

#img-sobre-nos {
    margin-top: 75px;
    width: 70%;
    filter: brightness(70%);
}

#text-about-us-home {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 15px;
    text-align: justify;
}

#span-text-about-us {
    width: 90%;
}

/* CITAÇÃO */

#citation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    align-self: center;
    width: 65%;
    margin-top: 35px;
    margin-bottom: 35px;
}

#icon-double-quotes {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#double-quotes {
    margin-bottom: 15px;
}

#author-text {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
}

/* PROJETOS */

.img-home-main {
    display: flex;
    flex-direction: column;
}

#img-projects {
    width: 70%;
    filter: brightness(70%);
    align-self: self-end;
}

#text-projects-home {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: justify;
}

/* CARROSSEL DE PROJETOS */

.carousel {
    overflow: hidden;
    width: 100vw;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.3s ease;
}

.card-carousel {
    min-width: 44%;
    padding: 20px;
    text-align: center;
    background-color: #274E3F;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-right: 15px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #274E3F;
}
